[color]
  ui = true
[user]
  name = Yusuke Nakamura
  email = yusuke1994525@gmail.com
  signingkey = 153BB95D
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  precomposeunicode = true
  quotepath = false
[ghq]
  root = ~/src
[alias]
  s = status
  sh = stash
  shu = stash -u
  shp = stash pop
  c = commit -v
  l = log --oneline --decorate --color --graph
  l = log --oneline --decorate --color --graph --all
  pl = pull
  ps = push
  ch = checkout
  chb = checkout -b
  ad = add
  d = diff
  dc = diff --cached
  fe = fetch --prune --all
  me = merge
  miku = !git stash 1> /dev/null && echo 'もうしょうがないにゃぁ、この変更はみくが覚えておくにゃ！'
  g = grep --line-number
  branches = branch -a
  tags = tag
  stashes = stash list
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend -v
  sw = switch
  swc = switch --create
[rebase]
  autostash = true
[stash]
  showPatch = true
[diff]
  algorithm = patience
  compactionHeuristic = true
[gpg]
  program = gpg
[pager]
  log = delta --color-only
  show = delta --color-only
  diff = delta --color-only
[interactive]
  diffFilter = delta --color-only
[commit]
  verbose = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
# [remote "origin"]
#   fetch = +refs/pull/*:refs/remotes/pr/*
[github]
  user = unasuke
[init]
  defaultBranch = main
[pull]
  ff = only
[delta]
  line-numbers = true
