[color]
	ui = true
[user]
	name = Yusuke Nakamura
	email = yusuke1994525@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[ghq]
	root = ~/src
[alias]
	miku = !git stash 1> /dev/null && echo 'もうしょうがないにゃぁ、この変更はみくが覚えておくにゃ！'
